In [27]:
#%pip install --upgrade splink

# SECTION A: DATA PREPARATION AND FEATURE ENGINEERING

### Importing Libraries and Packages

Splink is a Python package for probabilistic record linkage (entity resolution) that allows you to deduplicate and link records from datasets without unique identifiers.

<b><u>Key Features</u></b>¬∂

- ‚ö° Speed: Capable of linking a million records on a laptop in approximately one minute.
- üéØ Accuracy: Full support for term frequency adjustments and user-defined fuzzy matching logic.
- üåê Scalability: Execute linkage jobs in Python (using DuckDB) or big-data backends like AWS Athena or Spark for 100+ million records.
- üéì Unsupervised Learning: No training data is required, as models can be trained using an unsupervised approach.
- üìä Interactive Outputs: Provides a wide range of interactive outputs to help users understand their model and diagnose linkage problems.

Splink's core linkage algorithm is based on Fellegi-Sunter's model of record linkage, with various customizations to improve accuracy.

In [2]:
import pandas as pd
import splink
from splink.duckdb.linker import DuckDBLinker
from splink.duckdb.blocking_rule_library import block_on
import splink.duckdb.comparison_template_library as ctl
import splink.duckdb.comparison_library as cl

In [3]:
# reading the household and facility data
household_data = pd.read_csv("../machine-learning/data/synthetic_hdss_v3.csv")
facility_data = pd.read_csv("../machine-learning/data/synthetic_facility_v3.csv")

In [3]:
household_data.head(5)

,recnr,firstname,lastname,petname,dob,sex,nationalid,hdssid,hdsshhid
0,1,Zaina,Hanifa,Ula,22-09-1930 00:00,2,NaN,I20001,HH100001
1,2,Godfrey,Maganda,Mukama,15-07-1934 00:00,1,NaN,I20002,HH100002
2,3,Kasim,Ngobi,Galabuzi,03-03-1983 00:00,1,NaN,I20003,HH100003
3,4,Esther,NaN,Inara,30-07-1968 00:00,2,NaN,I20004,HH100004
4,5,Sumaya,Swabula,NaN,13-12-1930 00:00,2,NaN,I20005,HH100005

In [31]:
household_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4115 entries, 0 to 4114
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   recnr       4115 non-null   int64
 1   firstname   4115 non-null   object
 2   lastname    4031 non-null   object
 3   petname     2894 non-null   object
 4   dob         4115 non-null   object
 5   sex         4115 non-null   int64
 6   nationalid  0 non-null      float64
 7   hdssid      4115 non-null   object
 8   hdsshhid    4115 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 289.5+ KB

In [32]:
print(household_data["lastname"].isnull().sum())
print(household_data["petname"].isnull().sum())

84
1221

In [33]:
facility_data.head(5)

,recnr,firstname,lastname,petname,dob,sex,nationalid,patientid,visitdate
0,2,Fatuma,NaN,Zaina,24-08-2017 00:00,2,N_ID_5000,2069,10-09-2018
1,3,Gloria,Rashida,NaN,11-07-1993 00:00,2,N_ID_11861,2079,14-12-2022
2,4,Ali,Hakram,Igomu,17-05-2014 00:00,1,N_ID_11864,2080,09-06-2023
3,5,Nakalema,NaN,Nkwanga,27-02-2026 00:00,2,N_ID_11867,2081,07-02-2019
4,6,Asuman,Sempa,Aguti,02-03-2002 00:00,1,N_ID_11870,2082,18-08-2020

In [34]:
facility_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2902 entries, 0 to 2901
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   recnr       2902 non-null   int64
 1   firstname   2902 non-null   object
 2   lastname    2835 non-null   object
 3   petname     2511 non-null   object
 4   dob         2902 non-null   object
 5   sex         2902 non-null   int64
 6   nationalid  2902 non-null   object
 7   patientid   2902 non-null   int64
 8   visitdate   2902 non-null   object
dtypes: int64(3), object(6)
memory usage: 204.2+ KB

In [35]:
print(facility_data["lastname"].isnull().sum())
print(facility_data["petname"].isnull().sum())
print(facility_data["nationalid"].isnull().sum())

67
391
0

### Unique IDs

When using splink each input dataset must have a unique ID column, which is unique within the dataset. By default, Splink assumes this column will be called `unique_id`, but this can be changed with the `unique_id_column_name` key in your Splink settings. The unique id is essential because it enables Splink to keep track each row correctly.

For our project we will rename the `recnr` column to `unique_id` and splink can use that as our unique ID.

In [4]:
def rename_recnr(df, new_name):
    df.columns.values[0] = new_name
    return df

rename_recnr(household_data, "unique_id")
rename_recnr(facility_data, "unique_id")

,unique_id,firstname,lastname,petname,dob,sex,nationalid,patientid,visitdate
0,2,Fatuma,NaN,Zaina,24-08-2017 00:00,2,N_ID_5000,2069,10-09-2018
1,3,Gloria,Rashida,NaN,11-07-1993 00:00,2,N_ID_11861,2079,14-12-2022
2,4,Ali,Hakram,Igomu,17-05-2014 00:00,1,N_ID_11864,2080,09-06-2023
3,5,Nakalema,NaN,Nkwanga,27-02-2026 00:00,2,N_ID_11867,2081,07-02-2019
4,6,Asuman,Sempa,Aguti,02-03-2002 00:00,1,N_ID_11870,2082,18-08-2020
...,...,...,...,...,...,...,...,...,...
2897,2899,Madina,Nakagolo,Nkima,28-07-1955 00:00,2,N_ID_13676,4961,17-08-2021
2898,2900,Namulondo,Namugabwe,NaN,14-09-1933 00:00,2,N_ID_13679,4962,21-06-2019
2899,2901,Ziriya,Kauma,Kato,11-11-1963 00:00,2,N_ID_13682,4963,27-12-2018
2900,2902,Faizo,Buyinza,Ssenyonjo,09-06-1956 00:00,1,N_ID_13685,4964,01-12-2019
2901,2903,Namusobya,Nambi,Gia,29-08-2010 00:00,2,N_ID_13688,4965,10-06-2019

### Dates Standardisation and Processing

Splink performs optimally with cleaned and standardized data.  
For efficient performance it is recommended to standardise date formats as strings in "yyyy-mm-dd" format.

In [5]:
def process_dob_column(dataset, column_name):
    # Convert "dob" column to datetime data type
    dataset[column_name] = pd.to_datetime(dataset[column_name], format='%d-%m-%Y %H:%M')

    # Convert "dob" column to string data type
    dataset[column_name] = dataset[column_name].dt.strftime('%Y-%m-%d')

    return dataset

In [6]:
household_data_processed = process_dob_column(household_data, "dob")
household_data_processed.head(5)

,unique_id,firstname,lastname,petname,dob,sex,nationalid,hdssid,hdsshhid
0,1,Zaina,Hanifa,Ula,1930-09-22,2,NaN,I20001,HH100001
1,2,Godfrey,Maganda,Mukama,1934-07-15,1,NaN,I20002,HH100002
2,3,Kasim,Ngobi,Galabuzi,1983-03-03,1,NaN,I20003,HH100003
3,4,Esther,NaN,Inara,1968-07-30,2,NaN,I20004,HH100004
4,5,Sumaya,Swabula,NaN,1930-12-13,2,NaN,I20005,HH100005

In [7]:
facility_data_processed = process_dob_column(facility_data, "dob")
facility_data_processed.head(5)

,unique_id,firstname,lastname,petname,dob,sex,nationalid,patientid,visitdate
0,2,Fatuma,NaN,Zaina,2017-08-24,2,N_ID_5000,2069,10-09-2018
1,3,Gloria,Rashida,NaN,1993-07-11,2,N_ID_11861,2079,14-12-2022
2,4,Ali,Hakram,Igomu,2014-05-17,1,N_ID_11864,2080,09-06-2023
3,5,Nakalema,NaN,Nkwanga,2026-02-27,2,N_ID_11867,2081,07-02-2019
4,6,Asuman,Sempa,Aguti,2002-03-02,1,N_ID_11870,2082,18-08-2020

### Data Processing

Splink requires that input datasets have the same number of input columns that correspond with each other.

We dropped certain columns from the datasets:

- In the household dataset, we removed the columns `hdssid` and `hdsshhid` because they did not correspond with columns in the facility dataset.
- Similarly, in the facility dataset, we dropped `patientid` and `visitdate` for the same reason.

In [8]:
household_data_processed.drop(columns=["hdssid", "hdsshhid"], inplace=True)
facility_data_processed.drop(columns=["patientid", "visitdate"], inplace=True)

### Analyse the distribution of values in your data¬∂

The distribution of values in your data is important for two main reasons:  
1. Columns with higher cardinality (number of distinct values) are usually more useful for data linking. For instance, date of birth is a much stronger linkage variable than gender.
2. The skew of values is important. If you have a `city` column that has 1,000 distinct values, but 75% of them are `Nairobi`, this is much less useful for linkage than if the 1,000 values were equally distributed

In [9]:
linker = DuckDBLinker(household_data_processed)
linker.profile_columns(top_n=10, bottom_n=5)

Warning: No charts produced for "nationalid" as the column only contains null values.

alt.VConcatChart(...)

In [10]:
linker = DuckDBLinker(facility_data_processed)
linker.profile_columns(top_n=10, bottom_n=5)

alt.VConcatChart(...)

# SECTION B: CREATING AND TRAINING THE MODEL

### Overview of Splink Record Linkage Process

Below we define the configuration settings for a record linkage process.

**Link Type:**
The `link_type` parameter specifies the type of linkage to perform. In this case, it is set to "link_only", indicating that the goal is to identify potential links between records without creating a final linked dataset.

**Blocking Rules:**
Blocking rules are used to group records that are likely to match based on certain criteria. The code defines blocking rules using the `blocking_rules_to_generate_predictions` parameter. In this instance, we defined records to be blocked on the attributes "firstname", "petname", and "dob" (date of birth).

**Comparisons:**
The `comparisons` parameter specifies how attributes are compared between records to determine similarity. For us we have defined various comparison functions for different attributes:

- `name_comparison`: Compares names (first name, last name, and pet name) with adjustments for term frequency.
- `date_comparison`: Compares dates of birth, with strings cast to date format for comparison.
- `exact_match`: Identifies exact matches for categorical attributes like "sex".

**Linker Initialization:**
After setting up the configuration, we initialize the linker using DuckDB as the backend. We provide the linker with the input datasets (facility and household data processed) and the defined settings. Additionally, we specified input table aliases ("facility_df" and "house_df") to facilitate referencing the datasets within the linkage process.

In [11]:
settings = {
    "link_type": "link_only",
    "blocking_rules_to_generate_predictions": [
        block_on("firstname"),
        block_on("petname"),
        block_on("dob"),
    ],
    "comparisons": [
        ctl.name_comparison("firstname", term_frequency_adjustments=True),
        ctl.name_comparison("lastname", term_frequency_adjustments=True),
        ctl.name_comparison("petname", term_frequency_adjustments=True),
        ctl.date_comparison("dob", cast_strings_to_date=True),
        cl.exact_match("sex"),
    ],
}

linker = DuckDBLinker([facility_data_processed, household_data_processed], settings, input_table_aliases=["facility_df", "house_df"])

### Overview of Deterministic Rules and Probability Estimation

Below we wrote the code for defining deterministic rules and estimating the probability that two randomly selected records match based on these rules.

**Deterministic Rules:**
The `deterministic_rules` list contains deterministic rules that define conditions for determining matches between records. Each rule consists of logical conditions involving attribute comparisons and string similarity calculations using the Levenshtein distance metric (Given two strings, the Levenshtein distance between them is the minimum number of single-character edits (insertions, deletions, or substitutions) required to change one string into the other). With these rules we aim to identify potential matches based on attributes such as first name, last name, pet name, and date of birth ("dob"). Additionally, we enforced exact matches for the "sex" attribute.

- **Rule 1:** Matches will be determined if the first names are identical and the Levenshtein distance between the date of births (DOB) is less than or equal to 1.
- **Rule 2:** Matches will be determined if the last names are identical and the Levenshtein distance between the date of births (DOB) is less than or equal to 1.
- **Rule 3:** Matches will be determined if the pet names are identical and the Levenshtein distance between the date of births (DOB) is less than or equal to 1.
- **Rule 4:** Matches will be determined if the first names are identical and the Levenshtein distance between the last names is less than or equal to 2.
- **Rule 5:** Matches will be determined if the first names are identical and the Levenshtein distance between the pet names is less than or equal to 2.
- **Rule 6:** Matches will be determined if the genders (sex) are exactly the same.

**Probability Estimation:**
The `estimate_probability_two_random_records_match` function is invoked on the linker object to estimate the probability that two randomly selected records from the datasets match according to the deterministic rules. This function takes the deterministic rules as input, along with a specified recall value. The recall parameter indicates the desired level of sensitivity for the matching process, with a value of 0.8 indicating that the process should aim to correctly identify 80% of true matches (this is the value we chose).

**Overall Process:**
In summary, by defining deterministic rules and estimating the probability of matches between records, we establish a framework for identifying potential links across datasets.

**Results:**

Our analysis estimated the probability of two random records matching to be 0.68. This implies that among all possible pairwise record comparisons, approximately 1.47 are expected to result in a match. With a total of 11,941,730 possible comparisons, we anticipate approximately 8,115,293.75 matching pairs.

In [12]:
deterministic_rules = [
    "l.firstname = r.firstname and levenshtein(r.dob, l.dob) <= 1",
    "l.lastname = r.lastname and levenshtein(r.dob, l.dob) <= 1",
    "l.petname = r.petname and levenshtein(r.dob, l.dob) <= 1",
    "l.firstname = r.firstname and levenshtein(r.lastname, l.lastname) <= 2",
    "l.firstname = r.firstname and levenshtein(r.petname, l.petname) <= 2",
    "l.sex = r.sex"
]

linker.estimate_probability_two_random_records_match(deterministic_rules, recall=0.8)

Probability two random records match is estimated to be  0.68.
This means that amongst all possible pairwise record comparisons, one in 1.47 are expected to match.  With 11,941,730 total possible comparisons, we expect a total of around 8,115,293.75 matching pairs

### Estimating u probabilities using random sampling

The line `linker.estimate_u_using_random_sampling(max_pairs=1e7, seed=1)` estimates the probabilities of observing agreement between randomly paired records in the dataset using random sampling.

**Results**

The section indicates that the u probabilities have been trained. However, the m probabilities for attributes such as "firstname," "lastname," "petname," "dob" (date of birth), and "sex" are yet to be trained. These will be trained subsequently to ensure the model is fully trained.

In [13]:
linker.estimate_u_using_random_sampling(max_pairs=1e7, seed=1)

----- Estimating u probabilities using random sampling -----

Estimated u probabilities using random sampling

Your model is not yet fully trained. Missing estimates for:
    - firstname (no m values are trained).
    - lastname (no m values are trained).
    - petname (no m values are trained).
    - dob (no m values are trained).
    - sex (no m values are trained).

### Final Training

We utilized the expectation maximization (EM) algorithm to train the parameters of our record linkage model for the attributes "firstname," "petname," and "dob" (date of birth). The model is fully trained for the attributes, providing comprehensive parameter estimates and facilitating effective record linkage analysis.

In [14]:
session_firstname = linker.estimate_parameters_using_expectation_maximisation(block_on("firstname"))
session_petname = linker.estimate_parameters_using_expectation_maximisation(block_on("petname"))
session_dob = linker.estimate_parameters_using_expectation_maximisation(block_on("dob"))

----- Starting EM training session -----

Estimating the m probabilities of the model by blocking on:
l."firstname" = r."firstname"

Parameter estimates will be made for the following comparison(s):
    - lastname
    - petname
    - dob
    - sex

Parameter estimates cannot be made for the following comparison(s) since they are used in the blocking rules:
    - firstname

Iteration 1: Largest change in params was -0.831 in the m_probability of dob, level `Exact match`
Iteration 2: Largest change in params was 0.147 in the m_probability of petname, level `All other comparisons`
Iteration 3: Largest change in params was -0.0173 in the m_probability of dob, level `Within 10 years`
Iteration 4: Largest change in params was -0.0132 in the m_probability of dob, level `Within 10 years`
Iteration 5: Largest change in params was 0.0163 in the m_probability of lastname, level `Exact match lastname`
Iteration 6: Largest change in params was 0.0221 in the m_probability of lastname, level `Exact match lastname`
Iteration 7: Largest change in params was -0.0306 in the m_probability of lastname, level `All other comparisons`
Iteration 8: Largest change in params was 0.0431 in the m_probability of lastname, level `Exact match lastname`
Iteration 9: Largest change in params was 0.0604 in the m_probability of lastname, level `Exact match lastname`
Iteration 10: Largest change in params was 0.0818 in the m_probability of lastname, level `Exact match lastname`
Iteration 11: Largest change in params was 0.0995 in the m_probability of lastname, level `Exact match lastname`
Iteration 12: Largest change in params was 0.0952 in the m_probability of lastname, level `Exact match lastname`
Iteration 13: Largest change in params was 0.0609 in the m_probability of lastname, level `Exact match lastname`
Iteration 14: Largest change in params was 0.0251 in the m_probability of lastname, level `Exact match lastname`
Iteration 15: Largest change in params was 0.00904 in the m_probability of lastname, level `Exact match lastname`
Iteration 16: Largest change in params was 0.00393 in the m_probability of lastname, level `Exact match lastname`
Iteration 17: Largest change in params was 0.00211 in the m_probability of lastname, level `Exact match lastname`
Iteration 18: Largest change in params was 0.00128 in the m_probability of lastname, level `Exact match lastname`
Iteration 19: Largest change in params was 0.000838 in the m_probability of lastname, level `Exact match lastname`
Iteration 20: Largest change in params was 0.000582 in the m_probability of lastname, level `Exact match lastname`
Iteration 21: Largest change in params was 0.000422 in the m_probability of lastname, level `Exact match lastname`
Iteration 22: Largest change in params was 0.000317 in the m_probability of lastname, level `Exact match lastname`
Iteration 23: Largest change in params was 0.000244 in the m_probability of lastname, level `Exact match lastname`
Iteration 24: Largest change in params was 0.000193 in the m_probability of lastname, level `Exact match lastname`
Iteration 25: Largest change in params was 0.000155 in the m_probability of lastname, level `Exact match lastname`

EM converged after 25 iterations

Your model is not yet fully trained. Missing estimates for:
    - firstname (no m values are trained).

----- Starting EM training session -----

Estimating the m probabilities of the model by blocking on:
l."petname" = r."petname"

Parameter estimates will be made for the following comparison(s):
    - firstname
    - lastname
    - dob
    - sex

Parameter estimates cannot be made for the following comparison(s) since they are used in the blocking rules:
    - petname

Iteration 1: Largest change in params was -0.898 in probability_two_random_records_match
Iteration 2: Largest change in params was 0.101 in the m_probability of firstname, level `Exact match firstname`
Iteration 3: Largest change in params was 0.0222 in the m_probability of firstname, level `Exact match firstname`
Iteration 4: Largest change in params was 0.00309 in the m_probability of firstname, level `Exact match firstname`
Iteration 5: Largest change in params was -0.000363 in the m_probability of dob, level `All other comparisons`
Iteration 6: Largest change in params was -5.79e-05 in the m_probability of dob, level `All other comparisons`

EM converged after 6 iterations

Your model is fully trained. All comparisons have at least one estimate for their m and u values

----- Starting EM training session -----

Estimating the m probabilities of the model by blocking on:
l."dob" = r."dob"

Parameter estimates will be made for the following comparison(s):
    - firstname
    - lastname
    - petname
    - sex

Parameter estimates cannot be made for the following comparison(s) since they are used in the blocking rules:
    - dob

WARNING:
Level Damerau_levenshtein <= 1 on comparison firstname not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.9 on comparison lastname not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.9 on comparison petname not observed in dataset, unable to train m value

WARNING:
Level Jaro_winkler_similarity >= 0.8 on comparison petname not observed in dataset, unable to train m value

Iteration 1: Largest change in params was 0.476 in the m_probability of petname, level `Exact match petname`
Iteration 2: Largest change in params was -0.00171 in the m_probability of petname, level `All other comparisons`
Iteration 3: Largest change in params was -0.000266 in the m_probability of lastname, level `All other comparisons`
Iteration 4: Largest change in params was -0.000105 in the m_probability of lastname, level `All other comparisons`
Iteration 5: Largest change in params was -5.26e-05 in the m_probability of lastname, level `All other comparisons`

EM converged after 5 iterations
m probability not trained for firstname - Damerau_levenshtein <= 1 (comparison vector value: 3). This usually means the comparison level was never observed in the training data.
m probability not trained for lastname - Jaro_winkler_similarity >= 0.9 (comparison vector value: 2). This usually means the comparison level was never observed in the training data.
m probability not trained for petname - Jaro_winkler_similarity >= 0.9 (comparison vector value: 2). This usually means the comparison level was never observed in the training data.
m probability not trained for petname - Jaro_winkler_similarity >= 0.8 (comparison vector value: 1). This usually means the comparison level was never observed in the training data.

Your model is fully trained. All comparisons have at least one estimate for their m and u values

In [15]:
# saving the model
settings = linker.save_model_to_json("../machine-learning/saved-models/model.json", overwrite=True)

# SECTION C: PREDICTIONS AND RESULTS

In this section we generate predictions using the trained model, with a specified threshold match probability of 0.95.

The "threshold match probability" is the minimum probability required for two records to be considered a match. By setting this threshold at 0.95, we ensure that only pairs with a high likelihood of being a match are included in the results. This choice is appropriate because it allows us to prioritize precision, ensuring that the predicted matches are highly reliable. By setting a high threshold, we aim to minimize false positives and increase the confidence in the predicted matches.

The results of the predictions are stored in the variable "results."

In [16]:
results = linker.predict(threshold_match_probability=0.95)

In [17]:
# visualising matches
results.as_pandas_dataframe(limit=5)

,match_weight,match_probability,source_dataset_l,source_dataset_r,unique_id_l,unique_id_r,firstname_l,firstname_r,gamma_firstname,lastname_l,...,petname_l,petname_r,gamma_petname,dob_l,dob_r,gamma_dob,sex_l,sex_r,gamma_sex,match_key
0,4.279759,0.951038,facility_df,house_df,963,1790,Naiwumbwe,Naiwumbwe,4,Nabirye,...,Ganda,Kala,0,1973-01-14,1973-01-05,3,2,2,1,0
1,4.279759,0.951038,facility_df,house_df,1389,2211,Naiwumbwe,Naiwumbwe,4,Nawaguma,...,Nakayiza,Ziba,0,1965-05-09,1965-06-30,3,2,2,1,0
2,4.295193,0.951533,facility_df,house_df,605,2549,Irene,Irene,4,Arinda,...,Apedeti,Qama,0,1972-12-09,1972-12-02,4,2,2,1,0
3,4.334971,0.952789,facility_df,house_df,2874,858,Mutesi,Mutesi,4,Jane,...,None,None,-1,1965-05-16,1965-06-02,3,2,2,1,0
4,4.334971,0.952789,facility_df,house_df,2802,858,Mutesi,Mutesi,4,Jane,...,None,None,-1,1965-05-16,1965-06-02,3,2,2,1,0

In [18]:
results.to_csv("../machine-learning/results/linking_results_01.csv", overwrite = True)

In [21]:
def process_results(results):
    # Convert DuckDBDataFrame to pandas DataFrame
    df = results.as_pandas_dataframe()

    # Drop specified columns
    columns_to_drop = ["match_weight", "gamma_firstname", "gamma_lastname", "gamma_petname", "gamma_dob", "gamma_sex"]
    df = df.drop(columns=columns_to_drop)

    # Convert match_probability to percentages
    df['match_probability'] = (df['match_probability'] * 100).round(2)

    # Sort the DataFrame based on match_probability in descending order
    df = df.sort_values(by='firstname_l', ascending=True)

    return df

# Example usage:
linking_results = process_results(results)

In [22]:
linking_results.to_csv("../machine-learning/results/linking_results_03.csv")
linking_results

,match_probability,source_dataset_l,source_dataset_r,unique_id_l,unique_id_r,firstname_l,firstname_r,lastname_l,lastname_r,petname_l,petname_r,dob_l,dob_r,sex_l,sex_r,match_key
2949,100.00,facility_df,house_df,1209,3482,Ababu,Ababu,Crispus,Crispus,Lwasa,Lwasa,2006-04-23,2006-04-23,1,1,0
1568,100.00,facility_df,house_df,594,1217,Abalyogera,Abalyogera,Namulondo,Namulondo,Omutima,None,1941-07-13,1941-07-06,2,2,0
1682,100.00,facility_df,house_df,989,655,Abasa,Abasa,Bukosi,Bukosi,Awiti,Jajja,1974-07-12,1974-07-05,1,1,0
1430,100.00,facility_df,house_df,1865,3375,Abasa,Abasa,Nathan,Nathan,Nakalanzi,Nalubwama,1934-04-14,1934-04-27,1,1,0
2910,100.00,facility_df,house_df,680,3246,Abatuka,Abatuka,Nahiya,Nahiya,Fanda,Fanda,1985-02-25,1985-02-25,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1750,100.00,facility_df,house_df,1154,306,Zulaika,Zulaika,Nakaziba,Nakaziba,None,None,1932-08-31,1932-08-31,2,2,0
203,99.79,facility_df,house_df,2141,2618,Zulaika,Zulaika,Naigaga,Naigaga,None,None,1944-10-27,1974-05-30,2,2,0
755,100.00,facility_df,house_df,1976,553,Zulaika,Zulaika,Namumbya,Namumbya,Alimu,Diara,1933-05-30,1933-06-19,2,2,0
612,100.00,facility_df,house_df,2141,2717,Zulaika,Zulaika,Naigaga,Naigaga,None,None,1944-10-27,1944-09-30,2,2,0
1550,100.00,facility_df,house_df,117,520,Zura,Zura,Racheal,Racheal,Afande,Imani,1957-11-03,1957-11-16,2,2,0